.popupTable{
    position: relative;
    background-color:#fff;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    max-height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

.bannerHeader, .requestHeader-top{
    padding-top: 10px;
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.bannerRequest{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.response, .bannerRequest input{
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
}
.textarea{
    height: 40px;
    flex: 3;
    padding: 5px;
}

.responseText{
    width: 90%;
    padding: 10px;
}

.tableRow{
    width: 90%;
    border-collapse: collapse;
}

.errorBody th, .errorBody td{
    border: 1px solid #000; 
    text-align: center;
    padding: 2px;
}

.closeBanner{
    float: right;
    width: 100px;
}
.closeCreate{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-bottom: 10px;
}

.tableSelectError{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.active{
    width: 25px;
    height:25px;
    text-align: center;
    background-color: #25BDBC;
    color: #fff;
    border-radius: 50%;
}

.responseText{
    width: 70%;
    height: 25px;
    font-size: 16px;
    resize: none;
}

#preview-image{
    max-width:500px
}

.bannerBody{
    color: red;
}

.bannerLink{
    color: red;
    text-align: center;
}

.headerBanner{
  text-align: center;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 30px;
  height: 30px;
  color:black;
  letter-spacing: .1em;
}