.list{
    display: flex;
}
.linkTo{
    text-decoration: none;
    color: #000;
}
.logoImg{
    width: 30px;
    height: 30px;
}
.logoName{
    font-size: 20px;
    font-weight: 600;
}
.iconHeaader{
    color: #fff
}
