
.input-group{
    display: flex;
    width: 100%;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    overflow: hidden;
}
.custom-file{
    position: relative;
    flex: 9;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.custom-file img{
    width: 300px;
    object-fit: cover;
    margin-top: 10px;
}
.btnSave{
    border: 1px solid #20bdbe;
    width: 100px;
    text-align: center;
    background-color: #20bdbe;
    margin-bottom: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}